* {
    margin:0;
    padding:0;
    text-align:center;
}
h1 {
    background-color: black;
    color:aliceblue;
    height: :8rem;
    line-height:5rem;
}
 
.choices  {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top: 5rem;
}
.choice {
    height: 200px;
    width:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top: 5rem;
    font-size: 2rem;
}
.msg-container{
    
    margin-top: 5rem;
   

}
#msg{
    font-size: 30px;
    display:inline;
    color:white;
    background-color: black;
    padding:1rem;
    border-radius: 1rem;  m]
        1`2345}

